In [ ]:
def square(x):
 return x**2

In [ ]:
square_lambda=lambda x:x**2
print(f"Regular function: {square(5)}")
print(f"Lambda function: {square_lambda(5)}")

Regular function: 25
Lambda function: 25

In [ ]:
multiply = lambda x, y: x * y
print(f"Multiply: {multiply(3, 4)}")

Multiply: 12

In [ ]:
numbers=[1,2,3,4,5]
squared=list(map(lambda x:x**2,numbers))
print(f"Squared numbers: {squared}")

Squared numbers: [1, 4, 9, 16, 25]

In [ ]:
ages=[16,21,35,12,45,18,67]
adults=list(filter(lambda age: age>=18,ages))
print(f"Adults ages: {adults}")

Adults ages: [21, 35, 45, 18, 67]

In [ ]:
people=[
    {"name":"Alice","age":30},
    {"name":"Bob","age":25},
    {"name":"Charlie","age":35}
]

sorted_people=sorted(people, key=lambda person:person["age"])
print("people sorted by age:")

for person in sorted_people:
  print(f"{person['name']}: {person['age']}")

people sorted by age:
Bob: 25
Alice: 30
Charlie: 35

In [ ]:
def create_library_system():
  """
  Create a simple library management system
  """
  books = []

  def add_book(title,author,isbn,available=True):
    book={
        "title":title,
        "author":author,
        "isbn":isbn,
        "available":available
    }
    books.append(book)
    print(f"Added: {title} by {author}")

  def find_book(title):
    for book in books:
      if book["title"].lower()==title.lower():
        return book
      return None

  def checkout_book(title):
    book=find_book(title)
    if book and book["available"]:
     book["available"]=False
     print(f"Checked out: {title}")
     return True
    else:
      print(f"Book not available: {title}")
      return False

  def return_book(title):
    book=find_book(title)
    if book:
      book["available"]=True
      print(f"Returned: {title}")
      return True
    else:
      printt(f"Book not found: {title}")
      return False

  def list_available_books():
    available=[book for book in books if book["available"]]
    print("Available books:")
    for book in available:
      print(f" - {book['title']} by {book['author']}")
      return available

  return add_book, find_book, checkout_book, return_book, list_available_books